*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(227,223,200);
}
.nav-item {
    color:black;
    font-weight: bold;
    font-style: italic;
    background-color: white;
    border-radius: 25px;
    padding: 0px;
    width: auto;
    height: auto;
}
